FQDN='ipa.example.com'
HOSTNAME_SHORT='ipa'
INTERFACE_NAME='enp1s0'
STATIC_IP_CIDR='192.168.123.191/24'
STATIC_IP='192.168.123.191'
GATEWAY_IP='192.168.123.1'
NAMESERVERS_YAML='          - 192.168.123.1
          - 1.1.1.1'
TIMEZONE='Europe/Berlin'
RPM_PROXY_URL=''
ROOT_PASSWORD='ChangeMeRoot!'
SYSADMIN_PASSWORD='ChangeMeSysadmin!'
ROOT_PASSWORD_HASH='$y$replace_with_root_yescrypt_hash'
SYSADMIN_PASSWORD_HASH='$y$replace_with_sysadmin_yescrypt_hash'
SYSADMIN_SSH_PUBKEY='ssh-ed25519 AAAA... sysadmin@example'
ANSIBLE_SSH_PUBKEY='ssh-ed25519 AAAA... ansible@example'
